*,
::before,
::after{
    margin: 0;
    box-sizing: border-box;
}
:root{
    --bg-metalic: linear-gradient(
        145deg,
        grey,
        silver,
        whitesmoke,
        silver,
        grey
    );
}
body{
    min-height: 100vh;
    width: 100%;
    position: relative;
    font-size: 1em;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.5;
}
/*The Header*/
.header{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(6, 27, 2, 0.4),rgba(16, 78, 4, 0.61)),url(Image/bg.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    background: rgba(10, 126, 0, 0.3);
    color: burlywood;
    justify-content: space-between;
}
.name{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: none;
    font-size: 2.2em;
    color:whitesmoke;
    margin: 0.428em;

    transition: 1s;
}
.name span{
    color: rgb(10, 255, 255);
}
nav .mainMenu{
    display: flex;
    list-style: none;
}
nav .mainMenu li a{
    display: inline-block;
    padding: 1.071em;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 1.2em;
}
nav .mainMenu li a::after{
    content: "";
    background: aqua;
    width: 0;
    height: 0.017em;
    display: block;
    margin: auto;

    transition: 0.75s;
}
nav .mainMenu li a:hover:after{
    width: 100%;
}
nav .openMenu{
    font-size: 1.8em;
    margin: 0.3em;
    display: none;
    cursor: pointer;
}
nav .mainMenu .closeMenu{
    font-size: 2em;
    display: none;
    cursor: pointer;
}
.text_header{
    width: 80%;
    color: rgb(10, 10, 10);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text_header h1{
    font-size: 4.43em;
}
.text_header h1 span{
    color: aqua;
    text-shadow: 0 0 0.1em  currentColor;
}
.text_header p{
    color: azure;
}
.button{
    display: inline-block;
    text-decoration: none;
    color: white;
    text-shadow: 0 0 0.5em black;
    border: 0.07em solid black;
    padding: 0.86em 1.215em;
    font-size: 1.3em;
    background: transparent;
    position: relative;
    cursor: pointer;
    border-radius: 0.71em;

    transition: 0.75s;
}
.button:hover{
    border:0.07em solid white;
    box-shadow: inset 0 0 0.7em whitesmoke;
    color: black;
    text-shadow: 0 0 0.7em white;
}
@media (max-width: 57.142em){
    .text_header h1{
        font-size: 2em;

        transition: 1s;
    }
    .name {
        font-size: 1.5em;
    }
    nav .mainMenu{
        height: 100vh;
        position: fixed;
        top:0;
        right: 0;
        left: 0;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: rgba(9, 70, 9, 0.738);
        display: none;

        transition: top 1s ease;
    }
    nav .mainMenu .closeMenu{
        display: block;
        position: absolute;
        top: 1.429em;
        right: 1.429em;
    }
    nav .openMenu{
        display: block;
    }
    nav .mainMenu li a:hover{
        background: none;
        color: aqua;
        font-size: 1.3em;

        transition: 1s;
    }
}
/*About me*/
.about{
    width: 80%;
    min-height: 100vh;
    margin: auto;
    text-align: center;
    padding-top: 7.143em;
    color: rgb(39, 39, 39);
}
.about h1{
    font-size: 3.1em;
    font-weight: 800;
}
.about h1 span{
    color: aqua;
}
.about p{
    font-size: 1em;
    font-weight: 400;
    line-height: 1.57em;
    padding: 0.71em;
}
.row{
    margin-top: 2%;
    /*background: gainsboro;*/
    display: flex;
    justify-content: space-between;
}
.row img{
   width: 100%;
   margin-top: 1em;
   border-radius: 2%;
}
.bio{
    flex-basis: 50%;
    margin-bottom: 5%;
    padding: 1.43em 0.86em;
    box-sizing: border-box;
}
.bio img{
    width: 100%;
    border-radius: 1em;
}
.bio span{
    color:rgb(0, 255, 221);
    font-size: 1.2em;
}
@media(max-width:50em){
    .row{
        flex-direction: column;
    }
}
/*Skills*/
.skills{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.skill-col{
    flex-basis: 30%;
    border-radius: 0.714em;
    margin-bottom: 2.142em;
    position: relative;
    overflow: hidden;
}
.skill-col img{
    width: 100%;
    height: 20em;
    display: block;
}
.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;

    transition: 0.75s;
}
.layer:hover{
    background: rgba(0, 225, 255, 0.4);
}
.layer h2{
    width: 100%;
    color: rgb(23, 34, 34);
    font-size: 1.857em;
    font-weight: 700;
    left:50%;
    bottom: 0;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;

    transition: 0.75s;
}
.layer:hover h2{
    bottom: 25%;
    opacity: 1;
}
/*Projects*/
.project{
    width: 90%;
    margin: auto;
    text-align: center;
    padding-top:3.37em;
}
.project-col{
    flex-basis: 25%;
    border-radius: 0.71em;
    margin-top: 2%;
    margin-bottom: 5%;
    text-align: center;
    background: rgb(135, 219, 219);
    border: 0.07em solid rgb(4, 176, 255);

    transition: 1s;
}
.project-col:hover{
    border: 0.07em solid rgb(4, 176, 255);
    box-shadow: 0 0 0.7em gray;
    transform: translateY(-1em);
}
.project-col img{
    width: 100%;
    display: block;
    border-radius: 0.71em;
    padding: 0.1em;
}
.project-col p{
    padding: 0.7em;
}
.project-col h3{
    margin-top: 1.14em;
    margin-bottom: 1.07em;
    text-align: center;
}
/*Footer*/
.footer{
    width:100%;
    text-align: center;
    padding: 1.2em 0;
    background-image:linear-gradient(rgba(10, 126, 0, 0.5),rgba(8, 48, 0, 0.5)),url("Image/bg2.jpg");
    background-position: center;
    background-size: cover;
    color: azure;
}
.logos{
    color: honeydew;
    position: relative;
    display: inline-block;
}

.logos .tooltext{
    visibility: hidden;
    background: rgb(10, 255, 255);
    width: 8.571em;
    text-align: center;
    border-radius: 0.428em;
    padding: 0.357em 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -4.285em;

}
.logos .tooltext::after{
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -0.357em;
    border-radius: 0.357em;
    border-style: solid;
    border-color: rgb(10, 255, 255) transparent transparent  transparent;

}
.logos:hover .tooltext{
    visibility: visible;
}
